<thead>
                          <tr>
                            <th class="col col-">미리 보기</th>
                            <th class="sortable col col-name"><a href="/admin/items?order=name_desc">물품 명</a></th>
                            <th class="col col-user">판매자 명</th>
                            <th class="sortable col col-created_at"><a href="/admin/items?order=created_at_desc">게시 날짜</a></th>
                          </tr>
</thead>
