<thead>
                          <tr>
                            <th class="sortable sorted-desc col col-id"><a href="/admin/singos?order=id_asc">Id</a></th>
                            <th class="sortable col col-content"><a href="/admin/singos?order=content_desc">내용</a></th>
                            <th class="col col-user">신고자</th>
                            <th class="sortable col col-sel"><a href="/admin/singos?order=sel_desc">분류</a></th>
                            <th class="col col-item">신고 물품</th>
                            <th class="sortable col col-status"><a href="/admin/singos?order=status_desc">Status</a></th>

                            <th class="sortable col col-created_at"><a href="/admin/singos?order=created_at_desc">신고일자</a></th>
                          </tr>
                        </thead>
