<footer class="style2 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget-about">
          <div class="logo-ft">
            <a href="/index.html" title="">ReUseMarket</a>
          </div>
          <ul class="social-ft">
            <li>
              <a href="" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="" title="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="" title="Google Plus">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="" title="Instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="" title="Pinterest">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <!-- /.social-ft -->
          <p>
            Copyright
            <i class="fa fa-copyright" aria-hidden="true"></i>
            2017 DeerCreative Inc.
          </p>
        </div>
        <!-- /.widget-about -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="widget-information">
          <ul class="flat-contact">
            <li class="contact">
              <p class="phone">010-5530-2794</p>
              <p class="email">gmkseta@gmail.com</p>
            </li>
            <li class="address">
              <p>서울 특별시 중구
                <br/>
                동국대학교</p>
            </li>
          </ul>
        </div>
        <!-- /.widget-information -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="widget-menu-ft">
          <ul class="one-half">
            <li>
              <%= link_to :root do %>
                Home
              <% end %>
            </li>
            <li>
              <%= link_to items_path do %>
                Shop
              <%end%>
            </li>
            <li>
              <%= link_to trades_list_path do %>
                Log
              <% end %>
            </li>

          </ul>
          <!-- /.one-half -->
          <ul class="one-half">

          </ul>
          <!-- /.one-half -->
        </div>
        <!-- /.widget-menu-ft -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /footer style2 -->
