  <title>ReuseMarket</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>ReUseMarket - Homepage 05</title>
  <meta name="author" content="themsflat.com">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <!-- Theme style -->
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/fancybox.css"> -->
  <!-- REVOLUTION LAYERS STYLES -->
  <!-- <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css"> -->
  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- Reponsive -->
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css"> -->
  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/colors/color1.css" id="colors">
  <!-- Favicon -->
  <link href="/./images/icons/favicon.png" rel="shortcut icon">
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
