  <title>ReuseMarket</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <title>ReUseMarket - Homepage 05</title>

  <!-- Boostrap style -->
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  <link href="/./images/icons/favicon.png" rel="shortcut icon">
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
