
<section id="flat-banner" class="flat-banner">
      <div class="wrap-banner">
        <div class="row">
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img data-src="/images/page/banner-01.jpg" class="lazy" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">전공 서적</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img data-src="/images/page/banner-03.jpg" class="lazy" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">뭐시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
            <div class="divider30"></div>
            <div class="banner-box">
              <div class="banner-image">
                <img data-src="/images/page/banner-04.jpg" class="lazy" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">저시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img data-src="/images/page/banner-02.jpg" class="lazy" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">시부ㅜ루ㅜ</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
</section>
<!-- /.flat-banner -->
