
<section id="flat-banner" class="flat-banner">
      <div class="wrap-banner">
        <div class="row">
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-01.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">전공 서적</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-03.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">뭐시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
            <div class="divider30"></div>
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-04.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">저시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-02.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">시부ㅜ루ㅜ</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
</section>
<!-- /.flat-banner -->

<section id="main-shop" class="minimals style1">
      <div class="wrap-product">
        <div class="row">
          <div class="col-md-12">
            <div class="sort-product">
              <ul class="tab-product-list center">
                <li class="active">구매요청이 많은 물품</li>
                <li>새로 올라온 물품</li>
                <li>핫딜러의 물품</li>
              </ul>
            </div>
            <!-- /.sort-product -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="tab-product-content minimals">
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/01.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>

            <!-- /.one-over-five -->
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/04.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.tab-product-content -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /#main-shop minimals style1 -->



<section class="parallax parallax8">
  <div class="flat-video-fancybox">
    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/7_Mg5yAR_Pk">
      <center>
        <img src="/images/parallax/zzzzz.png" alt="images">
      </center>
    </a>
  </div>
</section>
<!-- /.history-video -->
