<section class="tp-banner">
  <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
    <div id="rev_slider_1078_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
      <div class="slotholder"></div>
      <ul>
        <!-- SLIDE -->
        <!-- SLIDE 1 -->
        <li
          data-index="rs-3050"
          data-transition="crossfade"
          data-slotamount="7"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="Power3.easeInOut"
          data-easeout="Power3.easeInOut"
          data-masterspeed="2000"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Ken Burns"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img
            src="/images/revolution/06.jpg"
            alt=""
            data-bgposition="center center"
            data-kenburns="off"
            data-duration="30000"
            data-ease="Linear.easeNone"
            data-scalestart="100"
            data-scaleend="120"
            data-rotatestart="0"
            data-rotateend="0"
            data-offsetstart="0 0"
            data-offsetend="0 0"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina="data-no-retina">
          <!-- LAYERS -->
          <!-- LAYER NR. 12 -->
          <div
            class="tp-caption sub-title color-black ff-2"
            id="slide-3049-layer-1"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-95','-95','-95','-95']"
            data-fontsize="['120','80','60','42']"
            data-lineheight="['120','100','80','60']"
            data-fontweight="['300','300','300','300']"
            data-width="auto"
            data-height="auto"
            data-type="text"
            data-whitespace="nowrap"
            data-responsive_offset="on"
            data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['center','center','center','center']"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16; white-space: normal;font-weight: 300;">Reuse Market
          </div>
          <div
            class="tp-caption color-black ff-2"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['15','15','15','15']"
            data-fontsize="['16','16','14','14']"
            data-lineheight="['26','26','26','26']"
            data-fontweight="['400','400','400','400']"
            data-width="['750','750','600','300']"
            data-height="auto"
            data-type="text"
            data-whitespace="normal"
            data-responsive_offset="on"
            data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['center','center','center','center']"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16; white-space: nowrap;font-weight: 300;">소프트웨어 공학 프로젝트 임 으으어ㅏ라어라어라어ㅏ기ㅓ이ㅏㅓㅣㅏㅓ기어ㅣㅏ
          </div>
          <div class="center">
            <a
              href="/items"
              target="_self"
              class="tp-caption flat-button-slider bg-orange color-white"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['119','119','119','119']"
              data-fontsize="['12','12','12','12']"
              data-lineheight="['46','46','46','44']"
              data-fontweight="['600','600','600','600']"
              data-textalign="['center', 'center', 'center', 'center']"
              data-width="210"
              data-height="46">중고 거래 하러 가기
            </a>
            <!-- END LAYER LINK -->
          </div>
        </li>
        <!-- SLIDE 2 -->
        <li
          data-index="rs-3049"
          data-transition="slideremovedown"
          data-slotamount="7"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="Power3.easeInOut"
          data-easeout="Power3.easeInOut"
          data-masterspeed="2000"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Ken Burns"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img
            src="/images/revolution/04.jpg"
            alt=""
            data-bgposition="center center"
            data-kenburns="off"
            data-duration="30000"
            data-ease="Linear.easeNone"
            data-scalestart="100"
            data-scaleend="120"
            data-rotatestart="0"
            data-rotateend="0"
            data-offsetstart="0 0"
            data-offsetend="0 0"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina="data-no-retina">
          <!-- LAYERS -->
          <!-- LAYER NR. 12 -->
          <div
            class="tp-caption title-slide"
            id="slide-3049-layer-2"
            data-x="['left','left','left','left']"
            data-hoffset="['114','114','80','20']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-97','-100','-100','-90']"
            data-fontsize="['60','52','48','26']"
            data-lineheight="['80','70','60','32']"
            data-fontweight="['300','300','300','300']"
            data-width="auto"
            data-height="auto"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":1000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['left','left','left','left']"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16; white-space: nowrap;font-weight: 300;">대충 여기에 거래 방식 같은 것을 설명으로 써놓을까 생각중
          </div>
          <div
            class="tp-caption title-slide ff-2"
            data-x="['left','left','left','left']"
            data-hoffset="['114','114','80','20']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-7','-7','-7','-7']"
            data-fontsize="['16','16','14','14']"
            data-lineheight="['28','28','26','26']"
            data-fontweight="['400','400','400','400']"
            data-width="['600','600','500','350']"
            data-height="auto"
            data-type="text"
            data-whitespace="normal"
            data-responsive_offset="on"
            data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['left','left','left','left']"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16; white-space: nowrap;font-weight: 300;">소프트웨어 공학 프로젝트 임 으으어ㅏ라어라어라어ㅏ기ㅓ이ㅏㅓㅣㅏㅓ기어ㅣㅏ
          </div>
          <!-- LAYER NR. 13 -->
          <div class="left">
            <a
              href="#"
              target="_self"
              class="tp-caption flat-button-slider bg-orange"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
              data-x="['left','left','left','left']"
              data-hoffset="['115','115','80','20']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['96','106','100','100']"
              data-fontsize="['12','12','12','12']"
              data-lineheight="['46','46','46','44']"
              data-fontweight="['600','600','600','600']"
              data-textalign="['center', 'center', 'center', 'center']"
              data-width="210"
              data-height="46">중고 거래 하러 가기
            </a>
            <!-- END LAYER LINK -->
          </div>
        </li>
        <!-- SLIDE 1 -->
        <li
          data-index="rs-3048"
          data-transition="slideremovedown"
          data-slotamount="7"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="Power3.easeInOut"
          data-easeout="Power3.easeInOut"
          data-masterspeed="2000"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Ken Burns"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img
            src="/images/revolution/03.jpg"
            alt=""
            data-bgposition="center center"
            data-kenburns="off"
            data-duration="30000"
            data-ease="Linear.easeNone"
            data-scalestart="100"
            data-scaleend="120"
            data-rotatestart="0"
            data-rotateend="0"
            data-offsetstart="0 0"
            data-offsetend="0 0"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina="data-no-retina">
          <!-- LAYERS -->
          <!-- LAYER NR. 12 -->
          <div
            class="tp-caption sub-title"
            id="slide-3049-layer-4"
            data-x="['left','left','left','left']"
            data-hoffset="['112','112','80','10']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-90','-90','-60','-60']"
            data-fontsize="['12',12','12','12']"
            data-fontweight="['600','600','500','400']"
            data-width="auto"
            data-height="auto"
            data-lineheight="24"
            data-letterspacing="0"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":800,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 17; line-height: 27px; letter-spacing: 1.3px; white-space: normal;text-transform:left;">
            <a class="fancybox slider" data-type="iframe" href="https://www.youtube.com/embed/7_Mg5yAR_Pk">
              WATCH THE OVERVIEW
            </a>
          </div>
          <div
            class="tp-caption title-slide"
            data-x="['left','left','left','left']"
            data-hoffset="['112','112',80','10']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-20','-20','10','0']"
            data-fontsize="['36','36','32','24']"
            data-lineheight="['60','60','50','32']"
            data-fontweight="['300','300','300','300']"
            data-width="100%"
            data-height="auto"
            data-type="text"
            data-whitespace="normal"
            data-responsive_offset="on"
            data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":1000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-textalign="['left','left','left','left']"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16; white-space: nowrap;font-weight: 300;">아 어ㅏ으마ㅓ나너ㅏ어ㅏ귀차나
          </div>
          <!-- LAYER NR. 13 -->
          <div class="left">
            <a
              href="#"
              target="_self"
              class="tp-caption flat-button-slider bg-orange"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
              data-x="['left','left','left','left']"
              data-hoffset="['114','114','80','10']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['83','83','90','70']"
              data-fontsize="['12','12','12','12']"
              data-lineheight="['46','46','46','44']"
              data-fontweight="['600','600','600','600']"
              data-textalign="['center', 'center', 'center', 'center']"
              data-width="200"
              data-height="46">중고 거래 하러 가기
            </a>
            <!-- END LAYER LINK -->
          </div>
          <div class="image">
            <div
              class="tp-caption"
              data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
              data-x="['right','right','right','right']"
              data-hoffset="['113','113','15','-250']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['73','73','73','0']"
              data-textalign="['right', 'right', 'right', 'right']"
              data-width="['auto','auto','100%','100%']"
              data-height="auto">
              <img
                src="/images/revolution/02.png"
                alt=""
                data-bgposition="center center"
                data-kenburns="off"
                data-duration="30000"
                data-ease="Linear.easeNone"
                data-scalestart="100"
                data-scaleend="120"
                data-rotatestart="0"
                data-rotateend="0"
                data-offsetstart="0 0"
                data-offsetend="0 0"
                data-bgparallax="10"
                class="rev-slidebg"
                data-no-retina="data-no-retina">
            </div>
            <!-- END LAYER LINK -->
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->
</section>
<!-- /.tp-banner -->


<section id="flat-banner" class="flat-banner">
      <div class="wrap-banner">
        <div class="row">
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-01.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">전공 서적</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-03.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">뭐시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
            <div class="divider30"></div>
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-04.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">저시기</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
          <div class="one-third">
            <div class="banner-box">
              <div class="banner-image">
                <img src="/images/page/banner-02.jpg" alt="">
              </div>
              <div class="banner-content">
                <a href="#" title="">시부ㅜ루ㅜ</a>
              </div>
            </div>
            <!-- /.banner-box -->
          </div>
          <!-- /.one-third -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
</section>
<!-- /.flat-banner -->

<section id="main-shop" class="minimals style1">
      <div class="wrap-product">
        <div class="row">
          <div class="col-md-12">
            <div class="sort-product">
              <ul class="tab-product-list center">
                <li class="active">Best Sellers</li>
                <li>New Arrivals</li>
                <li>Sales Products</li>
              </ul>
            </div>
            <!-- /.sort-product -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="tab-product-content minimals">
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/01.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/02.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/05.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/13.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="sale">20%</span>
                  <img src="/images/shop/04.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                    <span class="price-sale">$30.99</span>
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/02.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/11.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/01.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/02.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/05.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/02.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="sale">20%</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                    <span class="price-sale">$30.99</span>
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/11.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/09.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/01.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/10.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/13.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/07.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/05.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/04.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/06.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/08.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/04.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/05.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/02.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Ruffled strap top</a>
                  </div>
                  <div class="price">
                    $45.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="sale">20%</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                    <span class="price-sale">$30.99</span>
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/01.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/10.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/13.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/07.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Turtle neck wool sweater</a>
                  </div>
                  <div class="price">
                    $50.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="new">NEW</span>
                  <img src="/images/shop/14.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Velvet strappy sandals</a>
                  </div>
                  <div class="price">
                    $20.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/05.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <span class="hot">HOT</span>
                  <img src="/images/shop/03.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/04.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/06.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="one-over-five">
              <div class="imagebox style1">
                <div class="imagebox-header">
                  <img src="/images/shop/08.jpg" alt="">
                  <div class="add-cart">
                    <a href="#" class="shop-cart" title=""><span class="icon_cart_alt"></span></a>
                    <a href="#" class="like" title=""><span class="icon_heart_alt"></span></a>
                  </div>
                  <div class="view center">
                    <a href="#" class="bg-black color-white" title="">QUICK VIEW</a>
                  </div>
                </div>
                <!-- /.imagebox-header -->
                <div class="imagebox-content center">
                  <div class="name">
                    <a href="#" title="">Raffia basket bag</a>
                  </div>
                  <div class="price">
                    $30.99
                  </div>
                </div>
                <!-- /.imagebox-content -->
              </div>
              <!-- /.imagebox style1 -->
            </div>
            <!-- /.one-over-five -->
            <div class="col-md-12">
              <div class="btn-loadmore center">
                <a href="#" class="base bg-black color-white center" title="">LOADMORE</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.tab-product-content -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /#main-shop minimals style1 -->



<section class="parallax parallax8">
  <div class="flat-video-fancybox">
    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/7_Mg5yAR_Pk">
      <center>
        <img src="/images/parallax/zzzzz.png" alt="images">
      </center>
    </a>
  </div>
</section>
<!-- /.history-video -->
