<section>
    <div class="user_container">
        <div class="avatar-flip">
            <img src="https://postfiles.pstatic.net/20141012_48/puddled_14130992573110oRl6_JPEG/141004sg5.jpg?type=w1" height="150" width="150">
            <img src="https://postfiles.pstatic.net/20150913_172/peachhpink_14420805222504KF1Q_GIF/%BD%BD%B1%E2-%C0%A2%B5%F0.gif?type=w1" height="150" width="150">
        </div>
        <h2><%= current_user.name %></h2>
        <h4><%= current_user.stu_num %></h4>
        <p><%= current_user.phone_num %></p>
        <p><%= current_user.email %></p>
    </div>

    

</section>