<section>
  <div class="container wrap-product">
    <div class="row">
      <!-- /.col-md-3 -->
      <!-- 정렬 옵션 테이블 -->
      <div class="col-md-12">
        <table class="align_table" width="100%" cellpadding="0" cellspacing="0">
		      <tbody>
            <tr>
              <td width="100%" background="/images/item/list_cp.gif">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				        <tbody>
                  <tr>
                    <td width="5%">
                    </td>
					          <td width="10%">
						          <div align="center" class="txdiv">
                        가격별
							          <a href="#"><img src="/images/item/arrow_up.png" width="10" height="10"></a>
							          <a href="#"><img src="/images/item/arrow_down.png" width="10" height="10"></a>
                      </div>
                    </td>
					          <td width="3" class="tx_05">
						          <img src="/images/item/list_cp.gif" width="3" height="33">
					          </td>
                    <td width="20%"></td>
                    <td width="20%">
                      <div align="center" class="txdiv">
                        <a href="#">모든 물품</a>
                        <img src="/images/item/list_cp.gif" width="3" height="33">
                        <a href="#">신 상 품</a>
                      </div>
                    </td>
                    <td width="30%"></td>
					          <td width="3" class="tx_05">
						          <img src="/images/item/list_cp.gif" width="3" height="33">
					          </td>
                    <td width="15%">
                      <div align="center">
                        여기 페이지네이션좀
                      </div>
                    </td>
				          </tr>
				        </tbody>
              </table>
			        </td>
		        </tr>
		      </tbody>
        </table>

        <ul class="sell_items">
          <% @items.each do |item| %>
            <li class="sell_item">
              <%= link_to item, class:"link-to-target" do %>
              <% if not item.item_images.empty?  %>
                <div class="sell_item_thumb thumb1" style="background-image: url(<%= item.item_images[0].url%>)">
              <% else %>
                <div class="sell_item_thumb thumb1" style="background-image: url(http://dimg.donga.com/wps/NEWS/IMAGE/2018/11/29/93087313.2.jpg)">
              <% end %>
                </div>
                <div class="sell_item_thumb thumb2" style="background-image: url(https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2F49%2F20160628134751541.jpg)"></div>

                <div class="sell_item_meta">
                  <h3 class="sell_item_title"><%= item.name %></h3>
                  <p class="sell_item_price"><%= item.price %> 원</p>
                </div>
              <% end %>
            </li>
          <% end %>    
        </div>

        <!-- /.tab-product-content -->
      </div>
      <!-- /.col-md-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<br>

<script>
$(document).ready(function(){

});

</script>
