$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
body { padding-top: 100px; margin: 0px;}

a { color: inherit; }

// 상단 nav bar
* {
  box-sizing: border-box;
}

.ico_introduce
{ margin: 0; padding-top: 30px; }

.nav {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  padding-top: 30px;
}

.nav > .nav-header { width: 25%; text-align: center; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2.2rem;
  color: black;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
}

div.box-canvas { cursor:pointer; }

.nav > .nav-items { width: 25%; text-align: right; }

.nav > .nav-items > div { display: inline-block; margin: 5px; }
.nav > .nav-items > div > span { margin-right: 5px; }

.menu_ref_users
{ font-size: 1rem; letter-spacing: 0.06rem;  }

.nav > .nav-links { width: 50%; text-align: center; }

.nav > .nav-links > span {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

/*effect-underline*/
.text_effect_box:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	transition: opacity 0.25s, transform 0.25s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.text_effect_box:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media (max-width:600px) {
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
}



// 상단 nav bar END

ul.sell_items
{ list-style: none; margin: 0; padding: 0; line-height: 0; }
ul.sell_items li.sell_item
{ margin: 0; padding: 0; display: inline; }
ul.sell_items li.sell_item a
{ display: block; float: left; background: white; position: relative; overflow: hidden; }

.sell_item_thumb
{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); opacity: 1;}

.sell_item_thumb.thumb1
{ background-size: contain; }
ul.sell_items li.sell_item .thumb2 { opacity: 0; }
ul.sell_items li.sell_item a:hover .thumb2 { opacity: 1; }
ul.sell_items li.sell_item a:hover .thumb1 { opacity: 0; }


.sell_item_meta
{ position: absolute; width: 100%; bottom: 0; left: 0; text-align: center;
  background: url(/images/item/thumb_bg.png) repeat-x center bottom;
  padding: 300px 0 10px 0; background-size: 100% 260px; opacity: 0;
  transition-delay: 0.2s; transform: translate3d(0, 8px, 0);
}
ul.sell_items li.sell_item a:hover .sell_item_meta
{
  transition: all 0.4s ease-in-out; opacity: 1;
}

.sell_item_title
{ font-weight: 700; font-size: 15px; letter-spacing: 0.3em; color: white; line-height: 40px; margin: 0;
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 8px;
}
.sell_item_price
{
  font-size: 13px; line-height:20px; color:white; letter-spacing: 0.08em; margin: 0;
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 8px;
}

@media screen and (max-width:1700px)
{
  ul.sell_items li.sell_item a
  { width: 33.333%; height:20vw; }
}

/** 샵 메뉴 **/
.align_table
{ margin-bottom: 30px; }
div.txdiv
{ font-size: 1.2em; }
.list_style_btn
{width: 30px;}
.thumb
{ float: left; width: 70px; height: 70px; }
.active
{ filter: grayscale(100%) }

/** 상품정보 좌측 상세정보 탭 **/
.edit_delete_ { text-align: right; width:100%; margin-bottom: 20px; }
div.likes_alerts_
{ text-align: right; width:100%; margin-bottom: 20px;}

.summary
{ float: left; width: 400px; padding: 10px 10px 250px 40px; overflow: hidden; position: relative; max-height:700px; box-sizing: border-box; }
.summary h2 { margin-bottom: 0; }
.h2{ letter-spacing: 0.16em; margin: 40px 0 10px 0; font-weight: 400; }
p.item_detail_category
{ margin: 30px 0 20px 0; font-size: 20px; letter-spacing: 0.15em;  }
.item_detail_desc
{ margin: 20px 0 0 0; font-size: 15px; line-height: 22px; }

.trades_area
{ position:absolute; bottom:0; right: 0; width: 100%; padding: 0 0 30px 0; border-top: 1px solid #ddd; background:#ededed; }

.seller_area
{ display: inline-block; width:50%; text-align: center; margin-top: 50px; letter-spacing: 0.13em; font-size: 15px }
.seller_area .seller_info
{ display: flex; flex-direction: column; margin-bottom: 10px; }
.seller_name { font-size: 20px; }
.seller_area span { margin: 0 16px 0 0; }

.sell_area
{ display: inline-block; width:45%; text-align: right; padding: 20px 0 0 10px; }
p.price
{ letter-spacing: 0.1em; font-weight: 600; font-size: 23px; }
button.purchase_btn
{ position: absolute; bottom: 0; right: 0; background: black; letter-spacing: 0.13em; width:40%; margin: 0 10px 20px 0; }

/** 유저 프로필 css **/
.user_container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.user_container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.user_container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.user_container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}
// 여기까지 프로필 화면

// 유저 개인 로그
.table-fixed tbody
{ height: 200px; overflow-y: auto; width: 100%; }

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th
{ display: block; text-align: center;}

.table-fixed tr:after
{ content: ""; display: block; visibility: hidden; clear: both; }
.table-fixed tbody td,
.table-fixed thead > tr > th
{ float: left; }
.table > thead > tr > th,
.table > thead > tr > td
{ font-size: .9em; font-weight: 400; border-bottom: 0; letter-spacing: 1px; vertical-align: top;
  padding: 8px; background: #51596a; text-transform: uppercase; color: #ffffff; }

// 여기까지 유저 개인 로그


// 신고 모달 start

.content-button-singo {
  position: absolute;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 2%;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 2px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  font-size: 30px;
  width: 200px;
  margin: 60px auto 0 auto;
}

.btn-modal:hover,
.content-button-singo:hover {
  background: #0B1847;
  color: white;
}

.close_modal {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: red;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border: 0;
  text-align: center;
  font-size: 22px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.singo-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 450px;
  margin-left: -300px;
  margin-top: -240px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.active + .singo-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.singo-modal h1.title-modal {
  margin: 40px 0 20px 0;
  padding: 0 15px;
}

.singo-modal hr.line-modal {
  border: 1px solid #F2F2F2;
}

.singo-modal p.paragraph-modal {
  font-size: 18px;
  margin-top: 20px;
  padding: 0 45px;
  color: #B7B7B7;
}


/* 여긴 Radiobox css */
input[type="radio"] {
    display:none;
    text-align:left;
}

input[type="radio"] + label {
    color:black;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

input[type="radio"]:checked + label a{
  background:rgb(145, 143, 145)!important;

}
.btn_singo
{ color: black; padding: 12px 12px; text-align: center; background-color: transparent; cursor:pointer; }

// 신고 모달 end

// 리뷰 모달 start

.btn_review {
  padding: 13px 30px;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 2px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 200px;
  position: relative;
  top: 150px;
  text-align: center;
  margin: 0 auto;
}

.rev_btn_close {
  position: absolute;
  padding: 13px 30px;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 2%;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 2px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 200px;
  margin: 60px auto 0 auto;
}

.btn_review:hover,
.rev_btn_close:hover {
  background: #0B1847;
  color: white;
}

.rev_close {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: red;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.mask_rev {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.review_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 450px;
  margin-left: -300px;
  margin-top: -240px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.active + .review_modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.review_modal h1.rev_modal_title {
  margin: 40px 0 20px 0;
  padding: 0 15px;
}

.review_modal hr.rev_modal_title {
  border: 1px solid #F2F2F2;
}

.review_modal p.paragraph-modal {
  font-size: 18px;
  margin-top: 20px;
  padding: 0 45px;
  color: #B7B7B7;
}


/* 여긴 리뷰 단 css */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.text_nonsizable { margin-top: 30px; resize: none;}

// 리뷰 모달 end

// 서치폼 start
div#select_box {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
  background: url("/images/item/arrow_down.png") 180px center no-repeat; /* 화살표 이미지 */
  border: 1px solid #E9DDDD;
  top:10px;
}
div#select_box label {
  position: absolute;
  font-size: 14px;
  color: #a97228;
  top: -2px;
  left: 10px;
  letter-spacing: 1px;
}
div#select_box select#se_cate {
  width: 100%;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  padding: 0 10px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 8 */
}

.search_option
{ float: right; margin-right: 15%; }

.se_category { display: inline-block; border: 1px solid black;}

.se_option
{ display: block; font-size:16px; font-weight: 500;}

.container-search{
  top: 5px;
  width: 600px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left: 15%;
}

.container-search input#search{
  width: 600px;
  height: 50px;
  border: 0.5px solid black;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-search .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
}

// 서치폼 end

.alert.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.alert.fade.in {
  opacity: 1;
}



.full-height {
  height: 100vh;
  overflow: hidden;
}

input.form-control.sidebar-form {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
}

.chat-box {
  height: 94vh;
  overflow: scroll;
}

.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

.chat-username {
  font-size: 0.7rem;
}

.chat-message {
  font-size: 0.85rem;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
}
.top_spac{ margin: 20px 0 0;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { float:left;max-width: 80%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  max-width: 80%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
