<div class="flat-portfolio-single">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-simple">
          <h3><%= @trade.item.user.name %></h3>
          <h4><%= @trade.item.user.stu_num %></h4>
          <h4><%= @trade.item.user.phone_num %></h4>
          <!-- <p>Branding, Portfolio, digital</p> -->
          <!-- <div class="share-link">
            <span class="float-left">Share:</span>
            <ul class="social-ft float-left">
              <li>
                <a href="" title="Facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Google Plus">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="RSS">
                  <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="heart">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <!-- /.social-ft -->
          <!-- </div> -->
          <!-- /.share-link -->
        </div>
        <!-- /.single-simple -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-simple-text">
          <p>Efimer is a project based on the concept that fashion is ephemeral. To represent this idea I designed a haute couture collection made by vegetables, which are ephemeral too. I decided to paint the vegetables to give uniformity at the clothes and express the purity that provides.</p>
        </div>
        <!-- /.single-simple-text -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <ul class="list-info padding-left-100">
          <li>Client: <span>DANIEL CRAWLER</span></li>
          <li>Date: <span>07 May 2016</span></li>
          <li>Location: <span>United States</span></li>
          <li>Author: <span>Kawhi Leonard</span></li>
        </ul>
        <!-- /.list-info -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.flat-portfolio-single -->
